*{ 
    margin: 0;
    padding: 0;
}


.content{
    background-color: #DEDBDB;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    border-radius:20px;
    font-size: 26px;
}

strong{
    color: #2757FF;
    font-size: 40px;
}
.bot1{
    display: flex;
}

.bot2{
    display: flex;
}

.bot3{
    display: flex;
}

.img1{
    margin-right: 10px;
    width: 45px;
}
.img2{
    margin-right: 10px;
    width: 45px;
}
.img3{
    margin-right: 20px;
    width: 43px;
}

a {
    text-decoration: none;
}



.ovo1 > a {
    color: black;

}

.ovo2 > a {
    color: black;
}

.ovo3 > a {
    color: black;
}